<section class='phone-number-section'>
  <p class='phone-number'>
    <span class="question">Have questions about BareBones? Give us a call</span>
    <span class="number">888-888-8888</span>
  </p>
</section>
