<div class='container'>
  <section class='phone-number'>
    <%= render "phone_number" %>
  </section>

  <section class='header'>
    <nav>
      <%= render "nav_bar" %>
    </nav>
  </section>
</div>
