@import "bourbon";
@import "neat";

body {
  margin: 0;
}

.phone-number {
  @include span-columns(12);
  background-color: #4682B4;
  text-align: center;
  .question {
    color: #FFF;
  }
  .number {
    color: #4B0082;
  }
}

.container {
  @include span-columns(12);
}
